.profile {
  display: flex;
  height: 100vh;
  font-family: "Rubik";
}
.profile__sidebar {
  padding: 67px 40px 0px 100px;
  background-color: #343B5B;
  border-radius: 0 20px 20px 0;
  position: relative;
}
.profile__sidebar_show {
  background-color: transparent;
  border: 1px solid transparent;
}
.profile__sidebar > .logo {
  display: flex;
  align-items: center;
  margin: 0;
  position: absolute;
  bottom: 65px;
}
.profile__sidebar > .logo > a {
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
}
.profile__user {
  display: flex;
  align-items: center;
}
.profile__user_name {
  font-size: 22px;
  color: #FFFFFF;
  margin-left: 20px;
}
.profile__user_photo {
  width: 30px;
  height: 30px;
  background-color: #FF825B;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 5px;
  justify-content: center;
}
.profile__user_more {
  margin-left: 47px;
  cursor: pointer;
}
.profile__calendar {
  margin-top: 36px;
}
.profile__calendar_small {
  display: flex;
  align-items: center;
}
.profile__calendar_date {
  font-size: 16px;
  color: #FFFFFF;
  opacity: 50%;
  padding-left: 13px;
}
.profile__main {
  margin: 55px 330px 0 310px;
  width: 100%;
}
.profile__task {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile__task_header {
  font-size: 40px;
  color: #303030;
  font-weight: 500;
}
.profile__task_header > p > span {
  color: #FF825B;
}
.profile__addTask {
  background-color: #FF825B;
  border: 0;
  color: #FFFFFF;
  border-radius: 10px;
  width: 177px;
  height: 57px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-position: 135px 15.5px;
}

.taskList {
  margin-top: 55px;
}
.taskList__task {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.taskList__task:hover {
  background-color: #F6F6F6;
  border-radius: 5px;
  cursor: pointer;
}
.taskList__task > .check {
  padding-left: 44px;
  font-size: 16px;
}
.taskList__task > .check:hover {
  cursor: pointer;
}

.task__menu_change {
  padding-top: 3px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 24px;
}

.task__menu_toggle {
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-top: 5px;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.09);
}
.task__menu_item {
  padding: 7px 74px 7px 15px;
  padding-right: 74px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.task__menu_item:hover {
  background-color: #F6F6F6;
}
.task__menu_item > img {
  padding-right: 8px;
}
.task__menu_item:first-child {
  padding-top: 15px;
}
.task__menu_item:last-child {
  border-top: 1px solid #D7D7D7;
  padding-bottom: 15px;
  margin-top: 7px;
  padding-top: 14px;
}
.task {
  width: 100%;
  justify-content: space-between;
  padding: 6px;
}
.task__tags {
  display: flex;
}

.tag {
  margin-left: 8px;
  border: 1px solid #FFDCE0;
  border-radius: 5px;
  padding: 3px 6px;
  background-color: #FFDCE0;
}

.task-done {
  border: 2px solid #FF825B;
  background-color: #FF825B;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: 5px 6px;
}

.menu_hide {
  display: none;
}

.task_active {
  background-color: #FFF5F2 !important;
}/*# sourceMappingURL=profile.css.map */