@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.input__hint {
  position: absolute;
  top: -4px;
  left: 18px;
  padding: 0 3px;
  z-index: 1;
  background-color: white;
  font-size: 12px;
  color: #AEAEAE;
}

.entryForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
}
.entryForm__wrapper {
  width: 100%;
  padding: 0 170px;
}
.entryForm__wrapper > p {
  font-size: 40px;
  color: #303030;
  margin-bottom: 50px;
  font-weight: 500;
}
.entryForm__form > div {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column-reverse;
}
.entryForm__error {
  font-size: 14px;
  position: absolute;
  bottom: -20px;
  color: #FF3D54;
}
.entryForm__input {
  font-family: "Rubik";
  box-sizing: border-box;
  padding: 20px 0 20px 20px;
  border-radius: 10px;
  border: 1px solid #AEAEAE;
  color: #303030;
  font-size: 16px;
  width: 100%;
}
.entryForm__input::-moz-placeholder {
  color: #aeaeae;
}
.entryForm__input::placeholder {
  color: #aeaeae;
}
.entryForm__input:focus {
  outline: none;
  border: 1px solid #303030;
}
.entryForm__btn {
  width: 100%;
  margin-top: 11px;
  padding: 20px 0;
  border: 1px solid #FF825B;
  background-color: #FF825B;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.entryForm__btn:focus {
  outline: none;
  box-shadow: 0 1px 3px 1px #a5553c;
}
.entryForm__signIn {
  position: absolute;
  bottom: 9vh;
  font-size: 22px;
}

.toggleForm {
  border: none;
  color: #FF825B;
  background-color: transparent;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}
.toggleForm:hover {
  text-decoration: underline;
}
.toggleForm:focus {
  outline: none;
  text-decoration: underline;
}

.check {
  padding-left: 34px;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-top: 25px;
}
.check > a {
  text-decoration: none;
  color: #FF825B;
  cursor: pointer;
}
.check > a:hover {
  text-decoration: underline;
}
.check > a:focus {
  text-decoration: underline;
  outline: none;
}
.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check__box {
  position: absolute;
  margin-top: -2px;
  margin-left: -34px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 2px;
  background-color: transparent;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 1.5px #303030;
  /* Checked */
}
.check__input:checked + .check__box {
  background-color: #FF825B;
  box-shadow: 0 0 0 1.5px #FF825B;
  background-image: url("../img/checked.svg");
  background-position: 50% 50%;
  /* Focused */
}
.check__input:focus + .check__box {
  box-shadow: 0 0 0 1.5px #FF825B;
}

.isValid {
  border-color: #07B461;
}

.notValid {
  border-color: #FF3D54;
}

.password > .eye {
  position: absolute;
  top: 17px;
  right: 20px;
}
.password > .eye:hover {
  cursor: pointer;
}

.hidePas {
  filter: invert(86%) sepia(0%) saturate(716%) hue-rotate(277deg) brightness(82%) contrast(87%);
}

.showPas {
  filter: invert(15%) sepia(0%) saturate(18%) hue-rotate(192deg) brightness(98%) contrast(87%);
}

.btnDisable {
  opacity: 40%;
  cursor: not-allowed;
}

.entryForm__btn {
  transition: opacity 0.3s;
}
.entryForm__btn.btnDisable {
  opacity: 0.4;
}
.entryForm__btn.btnEnable {
  opacity: 1;
}

.profile {
  display: flex;
  height: 100vh;
  font-family: "Rubik";
}
.profile__sidebar {
  padding: 67px 40px 0px 100px;
  background-color: #343B5B;
  border-radius: 0 20px 20px 0;
  position: relative;
}
.profile__sidebar_show {
  background-color: transparent;
  border: 1px solid transparent;
}
.profile__sidebar > .logo {
  display: flex;
  align-items: center;
  margin: 0;
  position: absolute;
  bottom: 65px;
}
.profile__sidebar > .logo > a {
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
}
.profile__user {
  display: flex;
  align-items: center;
}
.profile__user_name {
  font-size: 22px;
  color: #FFFFFF;
  margin-left: 20px;
}
.profile__user_photo {
  width: 30px;
  height: 30px;
  background-color: #FF825B;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 5px;
  justify-content: center;
}
.profile__user_more {
  margin-left: 47px;
  cursor: pointer;
}
.profile__calendar {
  margin-top: 36px;
}
.profile__calendar_small {
  display: flex;
  align-items: center;
}
.profile__calendar_date {
  font-size: 16px;
  color: #FFFFFF;
  opacity: 50%;
  padding-left: 13px;
}
.profile__main {
  margin: 55px 330px 0 310px;
  width: 100%;
}
.profile__task {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile__task_header {
  font-size: 40px;
  color: #303030;
  font-weight: 500;
}
.profile__task_header > p > span {
  color: #FF825B;
}
.profile__addTask {
  background-color: #FF825B;
  border: 0;
  color: #FFFFFF;
  border-radius: 10px;
  width: 177px;
  height: 57px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-position: 135px 15.5px;
}

.taskList {
  margin-top: 55px;
}
.taskList__task {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.taskList__task:hover {
  background-color: #F6F6F6;
  border-radius: 5px;
  cursor: pointer;
}
.taskList__task > .check {
  padding-left: 44px;
  font-size: 16px;
}
.taskList__task > .check:hover {
  cursor: pointer;
}

.task__menu_change {
  padding-top: 3px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 24px;
}

.task__menu_toggle {
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-top: 5px;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.09);
}
.task__menu_item {
  padding: 7px 74px 7px 15px;
  padding-right: 74px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.task__menu_item:hover {
  background-color: #F6F6F6;
}
.task__menu_item > img {
  padding-right: 8px;
}
.task__menu_item:first-child {
  padding-top: 15px;
}
.task__menu_item:last-child {
  border-top: 1px solid #D7D7D7;
  padding-bottom: 15px;
  margin-top: 7px;
  padding-top: 14px;
}
.task {
  width: 100%;
  justify-content: space-between;
  padding: 6px;
}
.task__tags {
  display: flex;
}

.tag {
  margin-left: 8px;
  border: 1px solid #FFDCE0;
  border-radius: 5px;
  padding: 3px 6px;
  background-color: #FFDCE0;
}

.task-done {
  border: 2px solid #FF825B;
  background-color: #FF825B;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: 5px 6px;
}

.menu_hide {
  display: none;
}

.task_active {
  background-color: #FFF5F2 !important;
}

.container {
  padding: 5vh 10vh;
  font-family: "Rubik";
  height: 90vh;
}

.logo {
  margin: 3vh 0 0 1.2vw;
}
.logo > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #303030;
  font-size: 22px;
  font-weight: 600;
}
.logo > a:focus {
  outline: none;
}

.border {
  border: 1px solid #d7d7d7;
  border-radius: 20px;
}

.firstScreen {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.firstScreen__banner {
  background-image: url("../img/woman.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  position: relative;
  margin-right: 3vw;
}

.banner__textContent {
  position: absolute;
  bottom: -4vh;
}
.banner__subtitle {
  font-size: 2vw;
  font-weight: 400;
  color: white;
  width: 30vw;
  margin-left: 1.3vw;
}
.banner__title {
  font-size: 20vw;
  font-weight: 600;
  color: white;
}/*# sourceMappingURL=style.css.map */